<link rel="stylesheet" href="/css/adminPage.css">
<section class="admin-page-landing-section navbar-color-change-div">
    <div class="admin-page-landing-section-heading">
        <h1>Welcome To <span style="color: #76c04d;">AdoptEV</span> Dashboard</h1>
    </div>
</section>

<section class="admin-page-requests-container">
    <%for(request of allRequests){%>
        <%if(!request.price){%>
    <form action="/logistics/admin/send-price" method="post">
    <div class="admin-page-requests-card-container">
        <div class="admin-page-requests-card-customer-name">
            <h5>Customer</h5>
            <h6><%=request.customer.name%></h6>
        </div>
        <div class="admin-page-requests-card-starting-address">
            <h5>Starting Address</h5>
            <h6><%=request.startingAddress%></h6>
        </div>
        <div class="admin-page-requests-card-ending-address">
            <h5>Ending Stop</h5>
            <h6><%=request.designationAddress%></h6>
        </div>
        <div class="admin-page-requests-card-load">
            <h5>Load</h5>
            <h6><%=request.load%></h6>
        </div>
        <div class="admin-page-requests-card-input-element">
            <input type="text" name="requestId" value="<%=request._id%>" id="" hidden>
            <input type="text" name="price" id="" placeholder="Enter the price"> 
        </div>
        <input class="admin-page-price-submission" type="submit" value="Send it to the company!!">
    </div> 
    </form>
    <%}%>
    <%}%>
</section>