<link rel="stylesheet" href="/css/dashboard.css">
<section class="dashboard-landing-section navbar-color-change-div">
    <div class="dashboard-landing-section-heading">
        <h1>Welcome To <span style="color: #76c04d;">AdoptEV</span> Dashboard</h1>
    </div>
</section>
<section class="dashboard-full-page-container">
    <section class="dashboard-full-page-left-side">
        <div class="dashboard-full-page-left-side-heading">
            <h3>Your Orders just a Click away!!</h3>
        </div>
        <%for(request of requests){%>
            <%if(request.price){%>
        <div class="dashboard-left-side-accept-or-reject-cards">
            <div class="dashboard-left-side-accept-or-reject-cards-place-element">
                <div class="dashboard-left-side-cards-from-container">
                    <div class="dashboard-left-side-cards-small-circles"></div>
                    <h6> FROM</h6>
                    <p><%=request.startingAddress%></p>
                </div>
                <div class="dashboard-left-side-cards-to-container">
                    <div class="dashboard-left-side-cards-small-circles"></div>
                    <h6>TO</h6>
                    <p><%=request.designationAddress%></p>
                </div>
            </div>
            <div class="dashboard-left-side-accept-or-reject-cards-other-details-element">
                <div class="dashboard-left-side-accept-or-reject-cards-other-details-load">
                    <h6>load</h6>
                    <p><%=request.load%></p>
                </div>
                <div class="dashboard-left-side-accept-or-reject-cards-other-details-date">
                    <h6>Date</h6>
                    <p>24 march 2020</p>
                </div>
                <div class="dashboard-left-side-accept-or-reject-cards-other-details-price">
                    <h6>Price</h6>
                    <p><span>Rs</span><%=request.price%></p>
                </div>
            </div>
            <div class="dashboard-left-side-accept-or-reject-cards-accept-or-reject-element">
                <form action="/logistics/request" id="accept-reject-<%=request.id%>-form" method="post">
                    <input type="text" value="<%=request.id%>" name="requestId" hidden>
                    <input class="dashboard-left-side-accept-button" type="submit" formaction="/logistics/accept-request" value="Accept">
                    <input class="dashboard-left-side-reject-button" type="submit" formaction="/logistics/reject-request" value="Reject">
                </form>
            </div>
        </div>
        <%}%>
        <%}%>
    </section>
    <section class="dashboard-full-page-right-side">
        <div class="dashboard-full-page-right-side-heading">
            <h3>Ask for the price!!</h3>
        </div>
        <div class="dashboard-requesting-price-form-container">
            <form id="dashboard-requesting-price-form" action="/logistics/push-request" method="post">
                <input type="text" name="startingAddress"  placeholder="Your Pickup Address" required>
                <input type="text" name="designationAddress"  placeholder="Your Drop Address" required>
                <input type="text" name="load"  placeholder="Your Load weight in KGs" required>
                <input type="submit" value="Ask for the price!!">
            </form>
        </div>
    </section>
</section>
        