<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <title><%= title%></title>
    <meta name="description" content="Adoptev Description">
    <meta name="keywords" content="adoptev, Charging Point, Charging Station, DC Fast Charging, electric, Electric erickshaw, Electric logistics, Electric mobility, Eloader, ev, ev future, Hire vehicle, Intra city logistics, Last mile logistics, Logistics, Mobility, range, Rapid Charging, vehicle, adopt ev, Transport, Auto, Rickshaw,  goods, Passenger, Local, Distributor, Supply Chain,3PL, Cab,Electric Vehicle,Reservation , Online">
    <meta http-equiv="Cache-Control" content="max-age=200" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <%- style %>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- ==================favicon===================== -->
    <link rel="icon" href="/images/Logo-02.png" type="image/gif" sizes="16x16">
    
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%-include('_header'); %>
      <%-body%>
    <%-include('_footer');%>

    <script src="/js/script.js"></script>
    <%- script %>
    <script src="https://use.fontawesome.com/e2eea6562c.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5ef4b6654a7c6258179b542d/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>
</html>